body {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(7, 50, 115), rgb(91, 217, 236));
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .main{
    width: 400px;
    margin: 10% auto;
    border-radius: 4px;
    padding: 2.5rem;
    background-color: white;
  }
  .button {
    background-color: rgb(7, 50, 115); 
    color: white;
    border: rgb(7, 50, 115);
    border-radius: 4px;
    padding: 10px 30px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 12px;
  }
